nav{
	padding: 20px;
}

#message_input-div{
	margin: 0 auto;
}

.navbar-brand{
	color: white;
}

.logout{
	color: red;
	margin-left: 0px;
	margin-top: 50px;
	margin-right: 240px;
	border-bottom: 1px solid red;
	text-decoration: none;

}
#container{
	display: flex;
	background-color: yellow;
	width: 200px;
	height: 200px;
	/*padding:10%;*/
}
#messages{
	margin-left: 100px;
	margin-top: 0px;

}
#Room-Name {
	margin-left: 0px;
	margin-top: 50px;
	margin-right: 640px;
	display: flex;
	padding: 20px;
}
#Room {
	margin-left: 0px;
	margin-top: 50px;
	margin-right: 640px;
	border-bottom: 1px solid red;
}

#page{
	display: flex;
}

/*#Form{
	margin-top: -100px;
}*/


